<section class="promo">
        <div class="container">
            <div class="row">
                <div class="overview col-md-7 col-sm-12 col-xs-12">
                    <h2 class="title">CalFilter</h2>
                    <ul class="summary">
                        <li>Filter your district calendar to fit your needs</li>
                        <li>Unclutter your schedule</li>
                        <li>Stay up to date with administrative changes</li>
                        <li>It is Simpler saving paper than planting trees</li>
                    </ul>
                        </div><!--//overview-->
                
                <div class="row">
                    <div class="overview col-md-5 col-sm-12 col-xs-12">
                    <h2 class="title"><%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2) %></h2>
 						
                            </div>
                        </div>
            </div><!--//row-->
    </div><!--//container-->
</section><!--//promo-->