
label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #E7E7E7;
  border-radius: 2em;
  margin: 4px 0px;
  font-size: 90%;
  -webkit-font-smoothing: antialiased;
  transition: all 0.4s ease;
  cursor: pointer;
  border: 2px solid #E7E7E7;
  span {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    font-size: 1.6em;
    float: left;
    padding-left: 3px;
    line-height: 1.1em;
    color: #FFF;
    opacity: 1.0;
    transition: all 0.4s ease;
  }
  input[type="checkbox"] {
    opacity: 0.0;
    transition: all 0.0s 0 ease;
  }
}

label:hover {
  border: 2px solid #2A90FC;
  input[type="checkbox"] {
    opacity: 0.0;
  }
  span {
    color: #2479D3;
    opacity: 1.0;
  }
}

label.selected {
  border: 2px solid #2A90FC;
  background-color: #2A90FC;
  color: #FFF;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
  span {
    opacity: 0.0;
    transition: all 0.4s 0s ease;
    text-shadow: none;
  }
  input[type="checkbox"] {
    opacity: 1.0;
    transition: all 0.4s 0.05s ease;
  }
}

input[type="checkbox"] {
  margin: 5px 11px 5px -12px;
}

.row.tags {
  margin-bottom: 20px;
}
